In [38]:
import requests
import pandas as pd
import datetime as dt
import io

### Задача №1 

Выполнить сравнение объемов (в тоннах) региональных биржевых и региональных внебиржевых индексов Бензина Регуляр-92 по месяцам за весь период расчета (в виде таблицы)

** Замечание: ** * чтобы задача была более интересной, добавил сравнение объемов по center_code *

In [49]:
# URL значений региональных биржевых индексов за всю историю
CSV_ERI = 'http://spimex.com/indexes/service_functions.php?request=csv&index=eri'

# URL значений региональных внебиржевых индексов за всю историю
CSV_ORI = 'http://spimex.com/indexes/service_functions.php?request=csv&index=ori'

In [50]:
def upload_csv(csv_url):
    """Загружает, обрабатывает и возвращает csv-файл."""
    download=requests.get(csv_url).content
    csv=pd.read_csv(io.StringIO(download.decode('utf-8')), header=0, sep=';',
                   converters={"volume":int})
    return csv

In [51]:
eri=upload_csv(CSV_ERI)
ori=upload_csv(CSV_ORI)

Убеждаемся в том, что файл прочитан верно. Выведем первые пять строк:

In [52]:
eri.head()

,date,index_code,product_code,center_code,index_value,index_value_per_liter,volume,value,num_trades,Unnamed: 9
0,2012-01-10,ERI_MOS_DTM,DTM,MOS,27946,"23,1952",6180,172706280,9,NaN
1,2012-01-10,ERI_MOS_DTZ,DTZ,MOS,32448,"26,7696",660,21415800,2,NaN
2,2012-01-10,ERI_MOS_REG,REG,MOS,26339,"19,6226",5700,150132900,17,NaN
3,2012-01-10,ERI_ROS_REG,REG,ROS,27128,"20,2104",4140,112309860,8,NaN
4,2012-01-10,ERI_SPB_DTM,DTM,SPB,28552,"23,6982",6180,176451360,9,NaN

Приводим данные к необходимому для решения задачи формату:

In [53]:
# Оставляем только Регуляр-92
eri = eri[eri.product_code == 'REG']

# Приводим столбец date в формат datetime
eri['date'] = pd.to_datetime(eri['date'], format='%Y-%m-%d')

#Проводим аналогичные манипуляции с ori
ori = ori[ori.product_code == 'REG']

ori['date'] = pd.to_datetime(ori['date'], format='%Y-%m-%d')

In [59]:
# Проводим слияние (outer join) eri и ori по date и center_code
merged = pd.merge(eri, ori, on=['date', 'center_code'], \
                  suffixes=('_eri', '_ori'), how = 'outer')

# Заполняем пустые значения volume нулями
merged[['volume_eri','volume_ori']] = merged[['volume_eri','volume_ori']].fillna(0)

# Дополняем таблицу дополнительными столбцами year и month для последующей
# группировки
merged['year'] = merged['date'].map(lambda x: x.year)
merged['month'] = merged['date'].map(lambda x: x.month)

In [75]:
result = \
    merged.groupby(by=['year', 'month', 'center_code'])\
    [['volume_eri', 'volume_ori']].\
    sum().reset_index()

In [76]:
result

     year  month center_code  volume_eri  volume_ori
0    2012      1         EKA      2040.0         0.0
1    2012      1         IRK      2040.0         0.0
2    2012      1         MOS     39360.0         0.0
3    2012      1         ROS     22140.0         0.0
4    2012      1         SAM      3060.0         0.0
5    2012      1         SPB     18120.0         0.0
6    2012      2         EKA     60660.0         0.0
7    2012      2         IRK     60660.0         0.0
8    2012      2         MOS     65700.0         0.0
9    2012      2         NOS     51660.0         0.0
10   2012      2         ROS     50520.0         0.0
11   2012      2         SAM     22980.0         0.0
12   2012      2         SPB     30480.0         0.0
13   2012      3         EKA     59160.0         0.0
14   2012      3         IRK     57300.0         0.0
15   2012      3         MOS     30960.0         0.0
16   2012      3         NOS     42420.0         0.0
17   2012      3         ROS     40620.0         0.0
18   2012      3         SAM     29640.0         0.0
19   2012      3         SPB     28440.0         0.0
20   2012      4         EKA     14460.0         0.0
21   2012      4         IRK     14460.0         0.0
22   2012      4         MOS     17880.0         0.0
23   2012      4         NOS     11700.0         0.0
24   2012      4         ROS     25380.0         0.0
25   2012      4         SAM     20940.0         0.0
26   2012      4         SPB     53160.0         0.0
27   2012      5         EKA      9000.0         0.0
28   2012      5         IRK      9000.0         0.0
29   2012      5         MOS     31320.0         0.0
..    ...    ...         ...         ...         ...
467  2016     10         ROS    187860.0   2758352.0
468  2016     10         SAM    112740.0   1487828.0
469  2016     10         SPB     68100.0    602398.0
470  2016     11         EKA    139620.0   1428145.0
471  2016     11         HAB     24420.0    917650.0
472  2016     11         IRK     66600.0   1034677.0
473  2016     11         KRK     58860.0    756397.0
474  2016     11         MOS    130980.0   3069567.0
475  2016     11         NOS     58860.0    756397.0
476  2016     11         ROS    229620.0   4000542.0
477  2016     11         SAM    171180.0   3087460.0
478  2016     11         SPB     70620.0    598270.0
479  2016     12         EKA    112380.0   2492272.0
480  2016     12         HAB     29460.0   1032820.0
481  2016     12         IRK     84180.0   1253875.0
482  2016     12         KRK     76860.0    772915.0
483  2016     12         MOS    170520.0   2987214.0
484  2016     12         NOS     76860.0    772915.0
485  2016     12         ROS    229080.0   5246240.0
486  2016     12         SAM    116700.0   3694710.0
487  2016     12         SPB     64620.0    330445.0
488  2017      1         EKA     94800.0   1097895.0
489  2017      1         HAB     22380.0    345890.0
490  2017      1         IRK     68100.0    482492.0
491  2017      1         KRK     62400.0    331412.0
492  2017      1         MOS    117000.0   1229054.0
493  2017      1         NOS     62400.0    331412.0
494  2017      1         ROS    181080.0   2100230.0
495  2017      1         SAM    114240.0   1680985.0
496  2017      1         SPB     60540.0    246704.0

[497 rows x 5 columns]

In [77]:
# Оформляем результат в виде xlsx-файла: 

writer = pd.ExcelWriter('reg.xlsx')
result.to_excel(writer, 'Sheet1', index=False)
writer.save()